.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navigate-button {
  margin-bottom: 30px;
  padding: 0.55rem 2rem;
  opacity: 0.5;

  background-color: white;
}

.navigate-button:hover {
  opacity: 1;
}
.container h2 {
  color: white;
  margin-bottom: 70px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  width: 80%;
  color: white;
}

#square1 {
  width: 100px;
  height: 80px;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  opacity: 0.5;
}

#square1:hover {
  opacity: 1;
}
#square2 {
  width: 80px;
  height: 70px;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  opacity: 0.5;
}

#square2:hover {
  opacity: 1;
}

.diagram {
  display: flex;
  justify-content: center;
  align-items: center;
}

#link1 {
  background-color: cornsilk;
  height: 5px;
  width: 50px;
}

#link2 {
  background-color: cornsilk;
  height: 5px;
  width: 20px;
}

.diagram {
  margin-bottom: 250px;
}

.navigate-button a {
  color: black;
}
a {
  color: white;
}
