.container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container a {
  padding: 0.55rem 2rem;
  background-color: white;
}

.navigate-button {
  margin-bottom: 30px;
}
.center-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.container img {
  height: 620px;
  width: auto;
  margin-bottom: 50px;
}

.container ul {
  margin-top: 15px;
  width: 80%;
}

.container ul .list-title {
  margin-top: 50px;
  font-size: 1.5rem;
}

.underline {
  width: 100px;
  height: 5px;
  background: #fdfc47; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24fe41,
    #fdfc47
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24fe41,
    #fdfc47
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-bottom: 15px;
}
