.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigate-button {
  margin-bottom: 30px;
  padding: 0.55rem 2rem;
  background-color: white;
  border-radius: 10px;
  width: 150px;
  opacity: 0.5;
  color: black;
  text-align: center;
  cursor: pointer;
}

.navigate-button:hover {
  opacity: 1;
}
li {
  color: white;
}
.container h2 {
  color: white;
  margin-bottom: 70px;
}

/*exclusive code */
.sublist {
  display: flex;
  align-items: center;
  margin-top: 50px;
  width: 1268px;
}

.sublist-left {
  border: 1px solid;
  padding: 20px;
  font-size: 2rem;
}

.sublist-arrow {
  font-size: 3rem;
}

.sublist-right {
  font-size: 2rem;
}
